resource "aws_subnet" "{{ resource.slug }}" {
{% if resource.vpc_ref is defined and resource.vpc_ref %}
  vpc_id     = aws_vpc.{{ resource.vpc_ref }}.id
{% endif %}
  cidr_block = var.subnet_cidr_{{ resource.slug }}
  availability_zone = "{{ resource.get('az', aws_region ~ 'a') }}"

  map_public_ip_on_launch = {{ 'true' if resource.props.get('mapPublicIp', True) else 'false' }}

  tags = {
    Name      = "{{ resource.props.get('name', resource.slug) }}"
    ManagedBy = "CloudForge"
  }
}
