resource "aws_lb" "{{ resource.slug }}" {
  name               = "{{ aws_name(resource.props.get('name', resource.slug)) }}"
  internal           = {{ 'true' if resource.props.get('internal', False) else 'false' }}
  load_balancer_type = "{{ resource.props.get('lbType', 'application') }}"

{% if resource.subnet_refs is defined and resource.subnet_refs %}
  subnets = [{% for subnet_ref in resource.subnet_refs %}aws_subnet.{{ subnet_ref }}.id{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% if resource.sg_refs is defined and resource.sg_refs %}
  security_groups = [{% for sg in resource.sg_refs %}aws_security_group.{{ sg }}.id{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}

  enable_deletion_protection = false

  tags = {
    Name      = "{{ resource.props.get('name', resource.slug) }}"
    ManagedBy = "CloudForge"
  }
}

{% if resource.target_ec2_refs is defined and resource.target_ec2_refs %}
resource "aws_lb_target_group" "{{ resource.slug }}_tg" {
  name     = "{{ aws_name(resource.slug ~ '-tg') }}"
  port     = 80
  protocol = "HTTP"
{% if resource.vpc_ref is defined and resource.vpc_ref %}
  vpc_id   = aws_vpc.{{ resource.vpc_ref }}.id
{% elif vpcs %}
  vpc_id   = aws_vpc.{{ vpcs[0].slug }}.id
{% endif %}

  health_check {
    path                = "/"
    healthy_threshold   = 2
    unhealthy_threshold = 2
    interval            = 30
  }
}

{% for ec2_ref in resource.target_ec2_refs %}
resource "aws_lb_target_group_attachment" "{{ resource.slug }}_{{ ec2_ref }}" {
  target_group_arn = aws_lb_target_group.{{ resource.slug }}_tg.arn
  target_id        = aws_instance.{{ ec2_ref }}.id
  port             = 80
}
{% endfor %}

resource "aws_lb_listener" "{{ resource.slug }}_http" {
  load_balancer_arn = aws_lb.{{ resource.slug }}.arn
  port              = "80"
  protocol          = "HTTP"

  default_action {
    type             = "forward"
    target_group_arn = aws_lb_target_group.{{ resource.slug }}_tg.arn
  }
}
{% endif %}
