resource "aws_rds_cluster" "{{ resource.slug }}" {
  cluster_identifier     = "{{ aws_name(resource.props.get('identifier', resource.slug), 63) }}"
  engine                 = "{{ resource.props.get('engine', 'aurora-mysql') }}"
  master_username        = "{{ resource.props.get('username', 'admin') }}"
  manage_master_password = true
  database_name          = "{{ resource.props.get('dbName', 'appdb') }}"
  storage_encrypted      = true
  skip_final_snapshot    = true

{% if resource.subnet_ref is defined and resource.subnet_ref %}
  db_subnet_group_name = aws_db_subnet_group.{{ resource.slug }}_subnet_group.name
{% endif %}

  tags = {
    Name      = "{{ resource.props.get('identifier', resource.slug) }}"
    ManagedBy = "CloudForge"
  }
}

{% if resource.subnet_ref is defined and resource.subnet_ref %}
resource "aws_db_subnet_group" "{{ resource.slug }}_subnet_group" {
  name       = "{{ resource.slug }}-subnet-group"
  subnet_ids = [{% for subnet_ref in resource.get('subnet_group_refs', [resource.subnet_ref]) %}aws_subnet.{{ subnet_ref }}.id{% if not loop.last %}, {% endif %}{% endfor %}]

  tags = {
    Name      = "{{ resource.slug }}-subnet-group"
    ManagedBy = "CloudForge"
  }
}
{% endif %}
