{# Use the user-provided Elastic IP allocation when set; otherwise allocate a managed EIP. #}
{% set alloc = resource.props.get('allocationId') %}
{% if alloc %}
resource "aws_nat_gateway" "{{ resource.slug }}" {
  allocation_id = "{{ alloc }}"
{% else %}
resource "aws_eip" "{{ resource.slug }}" {
  domain = "vpc"
}

resource "aws_nat_gateway" "{{ resource.slug }}" {
  allocation_id = aws_eip.{{ resource.slug }}.id
  depends_on    = [aws_eip.{{ resource.slug }}]
{% endif %}
{% if resource.subnet_ref is defined and resource.subnet_ref %}
  subnet_id = aws_subnet.{{ resource.subnet_ref }}.id
{% endif %}

  tags = {
    Name      = "{{ resource.props.get('name', resource.slug) }}"
    ManagedBy = "CloudForge"
  }
}
